@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/icons.scss';

.drop-down__header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

%drop-down__header-text {
    height: 30px;
    line-height: 30px;
    color: $medium-gray;

    &:hover {
        color: $indigo;
    }
}

.drop-down__header-text-default {
    @extend %drop-down__header-text;
}

.drop-down__header-text-active {
    @extend %drop-down__header-text;
    color: $indigo;
    margin-bottom: 30px;
}

%drop-down__header-arrow {
    height: 30px;
    width: 30px;
}

.drop-down__header-arrow-collapse {
    @extend %drop-down__header-arrow;
    background: url('../../styles/icons/arrow-down.svg') center no-repeat;
}

.drop-down__header-arrow-expand {
    @extend %drop-down__header-arrow;
    background: url('../../styles/icons/arrow-up.svg') center no-repeat;
}

.drop-down__date-pickers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.drop-down__date-picker {
    @include border-radius(5px);
    width: 90px;
    height: 30px;
    margin-left: 10px;
    padding: 5px;
    background-color: $gray;
    border: none;
    text-align: center;
}

.drop-down__list {

}

.drop-down__list-header {
    margin-bottom: 30px;
}

.drop-down__list-items {
    color: $medium-gray;
}

.drop-down__list-item {
    margin-bottom: 10px;
    @include user-select;
}

.drop-down__list-item-checkbox {
    &[type=checkbox] {
        display: none;
    }

    &[type=checkbox] + label {
        height: 20px;
        width: 20px;
        margin-right: 10px;
        display: inline-block;
        border: 1px solid $medium-gray;
        @include border-radius(5px);
        vertical-align: bottom;
        cursor: pointer;
        text-indent: 30px;
    }
    &:checked + label {
        background: url('../../styles/icons/checked.svg') center no-repeat;
        border-color: $indigo;
        color: $black;
    }
}