@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.drop-down__header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: $medium-gray;
    stroke: $medium-gray;
    stroke-width:2px;
    fill:none; 
    cursor: pointer;

    &:hover {
        color: $indigo;
        stroke: $indigo;
    }
}

.drop-down__header-text-active {
    color: $indigo;
    margin-bottom: 30px;
}

.drop-down__header-arrow-collapse {
    height: 24px;
}

.drop-down__header-arrow-expand {
    transform: rotateX(180deg);
    stroke: $indigo;
    height: 24px;
}

.drop-down__date-pickers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.drop-down__date-picker {
    @include border-radius(5px);
    width: 90px;
    height: 30px;
    margin-left: 10px;
    padding: 5px;
    background-color: $gray;
    border: none;
    text-align: center;
}

.drop-down__list {

}

.drop-down__list-header {
    margin-bottom: 30px;
}

.drop-down__list-items {
    color: $medium-gray;
}