@font-face {
    font-family: 'Libre Franklin Light';
    src: url('./fonts/LibreFranklin-Light.eot');
    src: url('./fonts/LibreFranklin-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/LibreFranklin-Light.woff2') format('woff2'),
        url('./fonts/LibreFranklin-Light.woff') format('woff'),
        url('./fonts/LibreFranklin-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Franklin BoldItalic';
    src: url('./fonts/LibreFranklin-BoldItalic.eot');
    src: url('./fonts/LibreFranklin-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/LibreFranklin-BoldItalic.woff2') format('woff2'),
        url('./fonts/LibreFranklin-BoldItalic.woff') format('woff'),
        url('./fonts/LibreFranklin-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Franklin Italic';
    src: url('./fonts/LibreFranklin-Italic.eot');
    src: url('./fonts/LibreFranklin-Italic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/LibreFranklin-Italic.woff2') format('woff2'),
        url('./fonts/LibreFranklin-Italic.woff') format('woff'),
        url('./fonts/LibreFranklin-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Franklin Regular';
    src: url('./fonts/LibreFranklin-Regular.eot');
    src: url('./fonts/LibreFranklin-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/LibreFranklin-Regular.woff2') format('woff2'),
        url('./fonts/LibreFranklin-Regular.woff') format('woff'),
        url('./fonts/LibreFranklin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Franklin LightItalic';
    src: url('./fonts/LibreFranklin-LightItalic.eot');
    src: url('./fonts/LibreFranklin-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/LibreFranklin-LightItalic.woff2') format('woff2'),
        url('./fonts/LibreFranklin-LightItalic.woff') format('woff'),
        url('./fonts/LibreFranklin-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Franklin ThinItalic';
    src: url('./fonts/LibreFranklin-ThinItalic.eot');
    src: url('./fonts/LibreFranklin-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/LibreFranklin-ThinItalic.woff2') format('woff2'),
        url('./fonts/LibreFranklin-ThinItalic.woff') format('woff'),
        url('./fonts/LibreFranklin-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Franklin Bold';
    src: url('./fonts/LibreFranklin-Bold.eot');
    src: url('./fonts/LibreFranklin-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/LibreFranklin-Bold.woff2') format('woff2'),
        url('./fonts/LibreFranklin-Bold.woff') format('woff'),
        url('./fonts/LibreFranklin-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Franklin Thin';
    src: url('./fonts/LibreFranklin-Thin.eot');
    src: url('./fonts/LibreFranklin-Thin.eot?#iefix') format('embedded-opentype'),
        url('./fonts/LibreFranklin-Thin.woff2') format('woff2'),
        url('./fonts/LibreFranklin-Thin.woff') format('woff'),
        url('./fonts/LibreFranklin-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

