@mixin border-radius($n) {
    border-radius: $n;
    -moz-border-radius: $n;
    -webkit-border-radius: $n;
}

@mixin user-select {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;   
}

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}
  
@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}