$white: #fff;
$light-gray: #ECECEE;
$medium-gray: #CACACA;
$gray: #F8F8F8;
$aqua: #40E0D0;
$blue: #3D52D5;
$indigo: #000099;
$purple: #8D0080;
$red: red;
$orange: #FF7A00;
$black: #000000;
$opacity-black: rgba(0, 0, 0, 0.5);

:export {
    light-gray: $light-gray;
    aqua: $aqua;
    blue: $blue;
    purple: $purple;
    orange: $orange;
}