@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.time-picker__header {
    margin-top: 20px;
}

.time-picker__group {
    @include border-radius(5px);
    margin: 10px 0px;
    padding: 5px;
    height: 30px;
    background-color: $gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.group__plus {
    background: url('../../styles/icons/plus.svg') center no-repeat;
    @include border-radius(5px);
    height: 30px;
    width: 30px;
    background-color: $white;
    margin: auto;
    cursor: pointer;

    &:hover {
        background-color: $light-gray;
    }
}

.group__minus {
    background: url('../../styles/icons/minus.svg') center no-repeat;
    @include border-radius(5px);
    height: 30px;
    width: 30px;
    background-color: $white;
    margin: auto;
    cursor: pointer;

    &:hover {
        background-color: $light-gray;
    }
}

.group__time {
    margin: auto;
}